<div class="page-errors" data-errors="<%= @errors.to_json %>" data-name="<%= name %>" style="display:none;"></div>
<!-- Setting errors -->
<script src="/assets/js/beautiful_errors.js"></script>
<script>
   	name = $(".page-errors").data("name");
  	errors = $(".page-errors").data("errors");
  	$(".page-errors").remove();
  	add_error();
</script>