<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="<%= current_admin.image %>" alt="user-img" title="<%= current_admin.name %>" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="/admin/admins/<%= current_admin.id %>/edit"><%= current_admin.name %></a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="/admin/admins/<%= current_admin.id %>/edit" >
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="/admins/sign_out" class="text-custom" data-method="delete">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
            	<li class="text-muted menu-title">Navigation</li>

				<li>
					<a href="/admin/admins" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Admins</span></a>
				</li>
				
				<li>
					<a href="/admin/textdescs" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Static data</span></a>
				</li>

                <li>
                    <a href="/admin/flashmobs" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Flash mobs</span></a>
                </li>

                <li>
                    <a href="/admin/comments" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Comments</span></a>
                </li>

                <li>
                    <a href="/admin/members" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Members</span></a>
                </li>

                <li>
                    <a href="/admin/users" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Users</span></a>
                </li>

                <li>
                    <a href="/admin/feedbacks" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Feedback</span></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>