<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for [:admin, @comment], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-12">
          
            <%= render "admin/form_elements/textarea", :locals=>{:name => "text", :label => "text", :f => f} %>
            
            <% if params[:action] == "edit" %>
              <div class="form-group">
                <label class="col-sm-2 control-label">Событие:</label>
                <div class="col-sm-9">
                  <a href="/admin/flashmobs/<%= @comment.flashmob_id %>" class="form-control inputmask" target="_blank"><%= @comment.flashmob.name %></a>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Участник: </label>
                <div class="col-sm-9">
                  <a href="/admin/members/<%= @comment.member_id %>" class="form-control inputmask" target="_blank"><%= @comment.member.name %></a>
                </div>
              </div>
            <% end %>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
              </div>
            </div>
          </div><!-- end col -->
        <% end -%>
      </div>
    </div>
  </div>
</div>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @errors.to_json %>" data-name="comment" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>