<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Text:</strong>
				  	<%= @comment.text %>
				</p>				
				<p>
					<strong>Member:</strong>
				  	<%= @comment.member_id %>
				</p>				
				<p>
					<strong>Flashmob:</strong>
				  	<%= @comment.flashmob_id %>
				</p>
				<%= link_to 'Редактировать', edit_admin_comment_path(@comment) %> |
				<%= link_to 'Назад', admin_comments_path %>
			</div>
		</div>
	</div>
</div>