<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @member.name %>
				</p>				
				<p>
					<strong>Email:</strong>
				  	<%= @member.email %>
				</p>				
				<p>
					<strong>Phone:</strong>
				  	<%= @member.phone %>
				</p>				
				<p>
					<strong>Age:</strong>
				  	<%= @member.age %>
				</p>				
				<p>
					<strong>Gender:</strong>
				  	<%= @member.gender %>
				</p>				
				<p>
					<strong>About:</strong>
				  	<%= @member.about %>
				</p>					
				<%= link_to 'Редактировать', edit_admin_member_path(@member) %> |
				<%= link_to 'Назад', admin_members_path %>
			</div>
		</div>
	</div>
</div>