<div class="wrapper-page">
  <div class="text-center">
      <a href="index.html" class="logo"><span>Admin<span>to</span></span></a>
      <h5 class="text-muted m-t-0 font-600">Responsive Admin Dashboard</h5>
  </div>
  <div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">Admin panel</h4>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal m-t-20"}) do |f| %>
        <div class="form-group ">
            <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Email" name="admin[email]">
            </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-12">
              <input class="form-control" type="password" required="" placeholder="Password" name="admin[password]" autocomplete="false">
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group ">
            <div class="col-xs-12">
                <div class="checkbox checkbox-custom">
                    <input id="checkbox-signup" type="checkbox" name="remember_me">
                    <label for="checkbox-signup">
                        Remember me
                    </label>
                </div>
            </div>
          </div>
        <% end -%>

        <div class="form-group text-center m-t-30">
          <div class="col-xs-12">
              <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Login</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

