<div class="page-errors" data-errors="<%= resource.errors.to_json %>" data-name="<%= locals[:name] %>" style="display:none;"></div>
<!-- Setting errors -->
<script>
  var errors = [];
  var name = $(".page-errors").data("name");
  errors = $(".page-errors").data("errors");
  console.log(errors);
</script>
<script src="/assets/js/beautiful_errors.js"></script>