
<!--form wysiwig js-->
<script src="/assets/plugins/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		function init_tiny(id){
		    if($("#elm" + id).length > 0){
		        tinymce.init({
		            selector: "textarea#elm" + id,
		            theme: "modern",
		            height:300,
		            plugins: [
		                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
		                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
		                "save table contextmenu directionality emoticons template paste textcolor"
		            ],
		            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
		            style_formats: [
		                {title: 'Bold text', inline: 'b'},
		                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
		                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
		                {title: 'Example 1', inline: 'span', classes: 'example1'},
		                {title: 'Example 2', inline: 'span', classes: 'example2'},
		                {title: 'Table styles'},
		                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
		            ]
		        });
		    }
		}

		init_tiny(1);
		init_tiny(2);
	    // Saving value to the textarea then submit it
	    $(document).on('submit','form',function(e){
		    tinymce.triggerSave();
		});
	});
</script>