<div class="row">
	<div class="col-sm-3">
		<button class="my-btn btn-block" data-toggle="modal" data-target="#JoinUs">Join</button>
	</div>
</div>
<% @member = session[:member_id] ? Member.find(session[:member_id]) : nil %>
<div class="modal signUpContent fade" id="JoinUs" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> Join This Flashmob</h3>
            </div>
            <div class="modal-body">
                <form class="reg-members">
                	<input type="hidden" name="flashmob_id" value="<%= flashmob.id %>">
                    <div class="form-group reg-name">
                        <div>
                            <input name="member[name]" class="form-control input" placeholder="Enter name" type="text" value="<%= @member.name if @member %>">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-phone">
                        <div>
                            <input name="member[phone]" class="form-control input" placeholder="Enter phone" type="text" value="<%= @member.phone if @member %>">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-email">
                        <div>
                            <input name="member[email]" class="form-control input" placeholder="Enter Email" type="text" value="<%= @member.email if @member %>">
                            <p class="error"></p>
                            <p class="for-example">Example: +38(066)-801-18-89</p>
                        </div>
                    </div>
                    <div class="form-group reg-age">
                        <div>
                            <input name="member[age]" class="form-control input" placeholder="Enter Your Age" type="text" value="<%= @member.age if @member %>">
                            <p class="error"></p>
                            <p class="for-example">Example: 1997</p>
                        </div>
                    </div>
                    <div class="form-group reg-gender">
                        <div>
                        	<select class="form-control" name="member[gender]">
                        		<% Member::GENDER.each do |m| %>
                        			<option value="<%= m %>" <% if @member && @member.gender == m %> checked <% end %>><%= m %></option>
                        		<% end %>
                        	</select>
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <textarea name="member[about]" class="form-control" id="message" placeholder="Tell something about yourself" value="<%= @member.about if @member %>"></textarea>
                            <p class="error"></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button class="btn btn-block login-reg-button">JOIN</button>
                        </div>
                    </div>
                </form>
                <!--userForm-->
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>