<div class="modal signUpContent fade" id="ModalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> REGISTER </h3>
            </div>
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="form-group reg-name">
                        <div>
                            <input name="user[name]" class="form-control input" size="20" placeholder="Enter name" type="text" value="<%= current_user.name if current_user %>">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-phone">
                        <div>
                            <input name="user[phone]" class="form-control input" size="20" placeholder="Enter phone" type="text" value="<%= current_user.phone if current_user %>">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-email">
                        <div>
                            <input name="user[email]" class="form-control input" size="20" placeholder="Enter Email" type="text" value="<%= current_user.email if current_user %>">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input name="user[password]" class="form-control input" size="20" placeholder="Password" type="password" value="">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input name="user[password_confirmation]" class="form-control input" size="20" placeholder="Password confirmation" type="password">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button class="btn btn-block login-reg-button">UPDATE</button>
                        </div>
                    </div>
                </form>
                <!--userForm-->
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>