<footer>
    <section id="foot_copy">
        <div class="container">
            <div class="col-xs-12 col-sm-6 copyright">&copy; Copyright 2016 — Flashmobio</div>
            <div class="col-xs-12 col-sm-6">
                <ul class="list-inline nav-pills right">
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-rss"></i></a></li>
                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                    <li><a href=""><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Back to top -->
        <a href="#" id="back_to_top"><i class="fa fa-chevron-up"></i></a>
    </section>
</footer>