<header id="site_header">
    <!--Main Navigation-->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="main_navigation" data-spy="affix" data-offset-top="60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li>
                                <a href="#"> <span class="hidden-xs">HELP</span><i class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a>
                            </li>
                            <li class="phone-number">
                                <a href="callto:+380668011889"> <span> <i class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs" style="margin-left:5px"> +38(066)-801-18-89 </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <%= render 'index/sign_in_panel' %>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">
                    <h1><span>Flash</span> mobio</h1>
                    <h5>Creating flashmobs since 1997</h5>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="dropdown-toggle" data-toggle="dropdown">home</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/flashmobs">flashmobs</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <% if content_for? :social_nav %>
        <%= yield(:social_nav) %>
    <% end %>
</header>