<div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> REGISTER </h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group reg-name">
                        <div>
                            <input name="user[name]" class="form-control input" size="20" placeholder="Enter name" type="text">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-phone">
                        <div>
                            <input name="user[phone]" class="form-control input" size="20" placeholder="Enter phone" type="text">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-email">
                        <div>
                            <input name="user[email]" class="form-control input" size="20" placeholder="Enter Email" type="text">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input name="user[password]" class="form-control input" size="20" placeholder="Password" type="password">
                            <p class="error"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox login-remember">
                                <label>
                                    <input name="rememberme" id="rememberme" value="true" checked="checked" type="checkbox"> Remember Me </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button class="btn btn-block login-reg-button">REGISTER</button>
                        </div>
                    </div>
                </form>
                <!--userForm-->
            </div>
            <div class="modal-footer">
                <p class="text-center"> Already member? <a data-toggle="modal" data-dismiss="modal" href="#ModalLogin">
                Sign in </a></p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>