<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding user-login-register">
    <div class="pull-right">
        <ul class="userMenu">
            <% if user_signed_in? %>
                <li><a href="/profile"><span class="hidden-xs"> My Account</span> <i class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                <li><a href="#" data-toggle="modal" data-target="#ModalEdit"><span class="hidden-xs"> Edit</span> <i class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                <li><a href="/logout" data-method='delete'><span class="hidden-xs"> Exit</span> <i class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
            <% else %>
                <li>
                    <a href="#" data-toggle="modal" data-target="#ModalLogin"> <span class="hidden-xs">Sign In</span>
                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a>
                </li>
                <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup"> Create
                Account </a></li>
            <% end %>
        </ul>
    </div>
</div>