<!--Social Navigation-->
<div id="social_nav">
    <div class="container">
        <ul class="list-inline nav-pills">
            <li>
                <form role="search" action="/flashmobs">
                    <div class="input-group">
                        <input type="text" class="form-control" value="Search" name="q[name_cont]" id="s" onfocus="if(this.value == 'Search') { this.value = ''; }" onblur="if (this.value=='') this.value='Search';">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><img src="/public/images/social_icos/search.png" alt="Search"></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>
            </li>
        </ul>
    </div>
</div>