<div class="row">
	<div class="col-sm-3">
		<button class="my-btn btn-block write-comment" onclick="show_comment_form(this, event);">Comment</button>
	</div>
	<div class="row comment-form people_speech" style="display: none;">
 		<h2>Write a comment</h2>
 		<div class="row speeches">
			<form action="#" role="form" method="post" onsubmit="send_comment(this, event);">
				<input type="hidden" name="flashmob_id" value="<%= @flashmob.id %>">
	            <div class="row">
	                <label for="comment[text]" class="sr-only"></label>
	                <textarea name="comment[text]" id="message" rows="6" class="form-control" required=""></textarea>
	            </div>
	            <div class="row">
	                <div class="col-xs-12 col-sm-6">
	                    <button class="btn btn-block comment-button">Send</button>
	                </div>
	                <div class="col-xs-12 col-sm-6">
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
</div>