<section id="page_template">
    <div class="breadcumb_row row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">contact us</li>
            </ol>
        </div>
    </div>
    <div class="row contact2_heading">
        <div class="container">
            <h2><i class="fa fa-envelope"></i> contact us</h2>
            <div class="addresses row">
                <div class="left"><i class="fa fa-globe"></i></div>
                <div class="left"><img src="/public/images/map_ico.png" alt=""></div>
            </div>
            <ul class="list-inline nav-pills row">
                <li><a href="#"><i class="fa fa-phone"></i> </a></li>
                <li><a href="#"><i class="fa fa-mobile"></i> </a></li>
                <li><a href="#"><i class="fa fa-skype"></i> </a></li>
                <li><a href="mailto:info@ICESOFTthemes.com"><i class="fa fa-envelope"></i> </a></li>
            </ul>
        </div>
    </div>
    <div class="row form_row contact-form">
        <div class="container">
            <div class="col-xs-12 col-sm-7">
                <form action="#" role="form" method="post">
                    <h4>leave us a message</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="feedback[name]" class="sr-only"></label>
                                <input type="text" class="form-control required" placeholder="Name" id="name" name="feedback[name]" required="">
                                <p class="error"></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="feedback[email]" class="sr-only"></label>
                                <input type="email" class="form-control required" placeholder="Email" id="email" name="feedback[email]" required="">
                                <p class="error"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="feedback[subject]" class="sr-only"></label>
                                <input type="text" class="form-control required" placeholder="Subject" id="subject" name="feedback[subject]" required="">
                                <p class="error"></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="feedback[phone]" class="sr-only"></label>
                                <input type="text" class="form-control required" placeholder="Phone" id="Phone" name="feedback[phone]" required="">
                                <p class="error"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="feedback[text]" class="sr-only"></label>
                        <textarea name="feedback[text]" id="feedback[text]" rows="6" class="form-control" required=""></textarea>
                        <p class="error"></p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="submit" value="SEND MESSAGE" class="btn btn-default contact-button" name="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-5 map_col">
                <h4>find us on the map</h4>
                <div id="google_map">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1270.675166132044!2d30.534091022521977!3d50.43457488087364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44a3a0dcdde885fc!2z0J3QotCjICLQmtCf0JgiLCDQndCd0JogItCY0J_QodCQIg!5e0!3m2!1sru!2sua!4v1481715964861" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

