<% content_for :social_nav do %>
	<%= render "index/social_nav" %>
<% end %>
<% content_for :preload do %>
    <link rel="stylesheet" type="text/css" href="/public/css/preload.css" />
<% end %>

<section id="rv_slider">
    <div class="bannercontainer responsive" style="overflow: hidden;">
        <div class="clr"></div>
        <div class="banner" >
            <ul>
                <% @popular_flashmobs.each do |f| %>
                    <% image = first_image(f) %>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="3000" class="clr">
                        <img src="<%= image.image_url %>"  alt="<%= f.name %>">
                        <div class="shadow-for-image-slider"></div>

                        <div class="caption large_text lft"
                             data-x="122"
                             data-y="220"
                             data-speed="800"
                             data-start="1600"
                             data-easing="easeOutExpo"  ><h1 class="big_heading"><%= f.name %></h1></div>
                             
                        <div class="caption large_text lfr"
                             data-x="122"
                             data-y="290"
                             data-speed="800"
                             data-start="1600"
                             data-easing="easeOutExpo"  ><h1 class="common_head"><%= f.location %></h1></div>

                        <div class="caption large_text lft"
                             data-x="122"
                             data-y="360"
                             data-speed="800"
                             data-start="1600"
                             data-easing="easeOutExpo"  ><p class="slider_common_p"><%= f.short_description %></p></div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</section>

<section id="multitem_carousal">
    <div class="container">
        <h2>Last flashmobs</h2>
        <div id="second_slider" class="owl-carousel">
            <% @last_flashmobs.each_with_index do |f, i| %>
                <% image = min_image_where_width_larger_than_height(f) %>
                <div class="item">
                    <img src="<%= image.image_url %>" alt="slide<%= i %>" class="img-circle"/>
                    <h4 class="caption"><%= f.name %></h4>
                </div>
            <% end %>
        </div><!--Main Slider-->
        
        <p class="index-text"></p>
    </div>
</section><!--slider-->

<section id="page_template">
    <div class="container">
        <div class="row blogs_and_widgets">
            <div class="col-xs-12 col-sm-8 blogs">
                <% @last_flashmobs.each do |f| %>
                    <div class="row single_blog_summery blog_style_1 post_type_study">
                        <div class="row blog_feature_img_cat">
                            <a href="/flashmob/<%= f.slug %>"><img src="<%= f.images.first.image_url %>" alt="<%= f.name %>" class="row feature_img"></a>
                            <div class="row post_category_post_icon">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#"><img alt="" src="/public/images/news/meta/book.png"></a>
                                        <ul>
                                            <li><a href="#"><%= f.user.name %></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row post_desc">
                            <div class="row post_title">
                                <a href="/flashmob/<%= f.slug %>">
                                    <h3><%= f.name %></h3>
                                </a>
                            </div>
                            <div class="row post_summery"><%= f.short_description %></div>
                            <div class="row post_meta">
                                <div class="left">
                                    <a href=""><i class="fa fa-clock-o"></i> <%= f.beautiful_created_at %></a>
                                </div>
                                <div class="left">
                                    <a href=""><i class="fa fa-comments"></i> <%= f.comments.count %></a>
                                </div>
                                <div class="left">
                                    <a href=""><i class="fa fa-child"></i> <%= f.members.count %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-4 widgets">
                <%= render "profile/last_comments" %>
            </div>
        </div>
    </div>
</section>