<div class="row">
  <div class="col-sm-12">
      <div class="card-box table-responsive">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <h4 class="header-title m-t-0 m-b-30">List of feedbacks</h4>
        <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Subject</th>
              <th>Text</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @feedbacks.each do |feedback| %>
              <tr>
                <td><%= feedback.name %></td>
                <td><%= feedback.email %></td>
                <td><%= feedback.phone %></td>
                <td><%= feedback.subject %></td>
                <td><%= feedback.text %></td>
                <td><%= link_to edit_admin_feedback_path(feedback) do %><i class="zmdi zmdi-settings"></i><% end %></td>
                <td><%= link_to admin_feedback_path(feedback), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="zmdi zmdi-delete"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br />
        <%= link_to 'New Feedback', new_admin_feedback_path %>
      </div>
  </div>
</div>

<%= render partial: "plugins/table_script" %>