<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @feedback.name %>
				</p>				
				<p>
					<strong>Email:</strong>
				  	<%= @feedback.email %>
				</p>				
				<p>
					<strong>Phone:</strong>
				  	<%= @feedback.phone %>
				</p>				
				<p>
					<strong>Subject:</strong>
				  	<%= @feedback.subject %>
				</p>				
				<p>
					<strong>Text:</strong>
				  	<%= @feedback.text %>
				</p>
				<%= link_to 'Редактировать', edit_admin_feedback_path(@feedback) %> |
				<%= link_to 'Назад', admin_feedbacks_path %>
			</div>
		</div>
	</div>
</div>