<% member = @comment.member %>
<div class="media col-xs-12 col-sm-12 current-comment" id="comment-<%= @comment.id %>">
    <div class="row s_speech_inner">
        <a class="pull-left user-comment user-comment-<%= member.gender %>" href="#"></a>
        <div class="media-body">
            <h4 class="media-heading"><%= member.name %></h4>
            <%= @comment.text %>
        </div>
    </div>
</div>