<li class="mix col-xs-12 col-sm-4 portfolio_content category_1" data-cat="<%= @flashmob.id %>">
    <% image = flashmobs_image(@flashmob) %>
    <img src="<%= image.image_url %>" alt="<%= @flashmob.name %>">
    <div class="hoverarea gold_bg">
        <a href="#port1" class="row post-link" data-toggle="modal" data-target="#portfolioModal<%= @flashmob.id %>">
            <i class="fa fa-search-plus"></i>
            <h2><%= @flashmob.name %></h2>
        </a>
        <div class="row metabox" style="margin-top: 20px;">
            <div class="col-xs-6 col-sm-6 date">
                <a href="" class="right">
                    <div class="day left"><%= @flashmob.beautiful_created_at %></div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 likes">
                <a href="" class="left"><i class="fa fa-child"></i> <%= @flashmob.members.count %></a>
            </div>
        </div>
    </div>
</li>

<!--Portfolio Modals-->
<div class="modal fade portfolioModal" id="portfolioModal<%= @flashmob.id %>" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="<%= image.image_url %>" alt="<%= @flashmob.name %>">
            <div class="row portfolio_details">
                <h2><%= @flashmob.name %></h2>
                <p><%= @flashmob.short_description %></p>
                <a href="/flashmob/<%= @flashmob.slug %>" target="_blank">Go For Live <i class="fa fa-external-link"></i></a>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
    </div>
</div>