<% @flashmobs.each_with_index do |f, i| %>
	<% @flashmob = f %>
	<% @i = i %>
	<%= render 'flashmob' %>
<% end %>

<% ajax ||= nil %>
<% if ajax %>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="/public/js/jquery.themepunch.plugins.min.js"></script>
	<script src="/public/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/public/js/preset.js"></script>
	<script src="/public/js/script.js"></script>
	<script src="/public/js/preload.js"></script>
<% end %>