<div class="row page_content">
    <div class="container">
        <div class="row blogs_and_widgets new-flashmob">
            <div class="col-xs-12 col-sm-12 blogs">
				<%= form_for @flashmob, :html=>{:class=>"form-horizontal"} do |f| %>
		          <div class="col-lg-12">
		          	<div class="form-group">	
						<%= f.label :name, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.text_field :name, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :location, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.text_field :location, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :expires_at, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.text_field :expires_at, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :short_description, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.text_area :short_description, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :description, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.text_area :description, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :start_age, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.number_field :start_age, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :end_age, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10"><%= f.number_field :end_age, :class => "form-control inputmask flashmob-input" %></div>
					</div>

					<div class="form-group">	
						<%= f.label :gender, :class => "col-sm-4 control-label" %>
						<div class="col-sm-6 m-l-10">
							<%= f.select :gender, Flashmob::GENDER, {:include_blank => true}, {:class => "form-control select2"} %>
						</div>
					</div>
		            
		            <!-- Galery photos -->
		            <div class="form-group">	
		              <input type="text" name="flashmob[images]" style="display: none;">
		              <div class="portfolioContainer">
		              	<div class="col-sm-4"></div>
		                <div class="gallery col-sm-6 m-l-10">
		                	<input type="hidden" name="flashmob[images]">
		                  <%= f.fields_for :images do |nested| %>
		                    <%= render "admin/flashmobs/image_fields", locals: {form: nested, size: "col-sm-4"} %>
		                  <% end %>
		                </div>
		              </div>
		            </div>

		           <div class="form-group">	
						<div class="col-sm-4"></div>
			            <div class="col-sm-2 m-l-10">
			                <%= link_to_add_fields "Add Image", f, :images %>
			            </div>
						<div class="col-sm-2 m-l-10">
					        <button type="submit" class="btn btn-block new_flashmob">Submit</button>  
					    </div>
					</div>
		          </div><!-- end col -->
		        <% end %>
			</div>
		</div>
	</div>
</div>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @flashmob.errors.to_json %>" data-name="flashmob" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>
<script src="/assets/js/admin_girls.js"></script>

<!-- Beautiful fileupload -->
<%= render "plugins/fileupload_script" %>

<script>
	$(document).ready(function(){
		link_to_add_fields_style();
	})
</script>