<div class="breadcumb_row row">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Edit flashmob</li>
        </ol>
    </div>
</div>   

<%= render 'form' %>