<section id="page_template">            
    <div class="breadcumb_row row">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">portfolio</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="container">
        	<form class="search">
        		<div class="row" style="margin-bottom: 10px;">
		        	<div class="form-group col-lg-2">
		            	<input type="form-control input" name="q[name_cont]" placeholder="Name" value="<%= @q && @q[:name_cont] %>">
		        	</div>
		        	<div class="form-group col-lg-2 m-l-10">
		            	<input type="form-control input" name="q[start_age_gteq]" placeholder="Start age" value="<%= @q && @q[:start_age_gteq] %>">
		        	</div>
		        	<div class="form-group col-lg-2 m-l-10">
		            	<input type="form-control input" name="q[end_age_lteq]" placeholder="End age" value="<%= @q && @q[:end_age_lteq] %>">
		        	</div>
		        	<div class="form-group col-lg-2 m-l-10">
		        		<select name="q[gender_eq]">
		        			<option></option>
		        			<option value="Man" <% if @q && @q[:gender_eq] == "Man" %> selected<% end %>>Man</option>
		        			<option value="Woman" <% if @q && @q[:gender_eq] == "Woman" %> selected<% end %>>Woman</option>
		        		</select>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-2">
	        			<button class="my-btn btn-block">Search</button>
	        		</div>
	        	</div>
	        </form>
        </div>
    </div>

    <div class="flashmobs">
    	<div class="row page_content">
		    <div class="container">
		        <div class="row portfolios">
		        	<div class="tab-content">
		                <ul class="row gallery gallery3col list-inline flashmobs-ul" id="Grid"> 
    						<%= render 'flashmobs_array' %>
		                </ul>
		                <% if @flashmobs.count > Flashmob::ITEMS_ON_PAGE %>
		                	<div class="row load_more_btn"><a href="#">LOAD MORE <i class="fa fa-refresh"></i></a></div>
		                <% end %>
		            </div>
		        </div>
		    </div>
		</div>
    </div>
</section>