<div class="breadcumb_row row">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Members in flashmob '<%= @flashmob.name %>'</li>
        </ol>
    </div>
</div>         

<div class="row page_content">
    <div class="container">
        <div class="row blogs_and_widgets">
            <div class="col-xs-12 col-sm-12 blogs">
                <div class="row single_item single_blog_summery blog_style_gallery post_type_photography">
                   
                    <h2 class="my-page_title"><%= @flashmob.name %> </h2>
                    <div class="row post_meta">
                       
                    </div>
                    
                    <div class="row post_desc">                                    
                        <div class="row post_summery">
                            <table style="width: 100%;">
                                <tr>
                                    <th>Number</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                </tr>
                                <% @members.each_with_index do |member, i| %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= member.id %></td>
                                        <td><%= member.name %></td>
                                        <td><%= member.email %></td>
                                        <td><%= member.phone %></td>
                                        <td><%= member.age %></td>
                                        <td><%= member.gender %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    </div>
                </div> <!--Single Post -->
                
            </div>
            
        </div>
    </div>
</div>

