<div class="breadcumb_row row">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Flashmob '<%= @flashmob.name %>'</li>
        </ol>
    </div>
</div>         

<div class="row page_content">
    <div class="container">
        <div class="row blogs_and_widgets">
            <div class="col-xs-12 col-sm-12 blogs">
                <div class="row single_item single_blog_summery blog_style_gallery post_type_photography">
                   
                    <h2 class="my-page_title"><%= @flashmob.name %> </h2>
                    <div class="row post_meta">
                       
                    </div>
                    <div class="row blog_feature_img_cat">
                        <a href="#"><img src="<%= first_image(@flashmob).image_url %>" alt="<%= @flashmob.name %>" class="row feature_img"></a>
                    </div>
                    
                    <div class="row post_desc">                                    
                        <div class="row post_summery">
                            <%= @flashmob.description %>
		 					<div class="row comment-or-member" style="margin-top: 20px;">
		 						<%= comment_or_member(@flashmob) %>
		 					</div>
                        </div>
                    </div>

 					<div class="row people_speech">
 						<h2>WHAT PEOPLE say about this flashmob</h2>
	 					<div class="row speeches comments-list">
	 						<% @comments.each do |c| %>
	 							<% @comment = c %>
	 							<%= render 'comment' %>
	 						<% end %>
	 					</div>
	 				</div>
                </div> <!--Single Post -->
                
            </div>
            
        </div>
    </div>
</div>

