
/*Style.css Update*/

.page-template-page-services-php .services_cols .service_ico .ico_container{
	width:100px;
	height:100px;
	border-radius:100%;
	border:5px solid #eeefe8;
	margin:0 auto;
	line-height:83px;
	font-size:45px;
}
.page-template-page-services-php .services_cols .col-sm-4:nth-child(2){
	border-left:1px solid #f4f4f2;
	border-right:1px solid #f4f4f2;
}
.page-template-page-services-php .narate{margin:0;}
.page-template-page-services-php .services_cols .col-sm-4 {
	padding:20px 10px;
}
.page-template-page-services-php .services_cols .col-sm-4:first-child {
  padding: 20px 20px 20px 0;
}
.page-template-page-services-php .services_cols .col-sm-4:last-child{
	padding:20px 0 20px 20px;
}
.page-template-page-services-php .specialization {
  margin: 0;
}

/*line 363*/
.pricing_accordion .panel-title a{
    padding:13px 0;
    line-height:1;
}
/*line 370*/
.pricing_accordion .panel-title a:before{
    line-height:1;
    margin:-4px 0 0;
}

/*line 685*/
.hottest_news_widget .more_hot_news .hoverarea {
  top: -150px;
}
/*line 681*/
.hottest_news_widget .more_hot_news .blog_img {
  margin: 0;
}

/*line 873*/
#our_app_container a {
    line-height: 1;
    height:55px;
    display:inline-block;
}
#our_app_container a i {
  color: #e74440;
  float: left;
  font-size: 30px;
  margin: 2px 0 0;
  padding-left: 25px;
  padding-top: 10px;
}
#our_app_container a span{
    display: block;
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-top:20px;
}
/*Style.css Update End*/

/**************************************************************/
/**************************************************************/
/**************************************************************/
/*Faq 2*/
.page-template-page-faq2-php{}
.page-template-page-faq2-php #social_nav{
	display:none; /*Hide Social Nav*/
} 
.faq2_container{
    background:#FFF;
    margin-bottom:30px;
    padding:17px 20px;
}
.faq2_container h2{
    margin:0 0 8px;
    text-align:center;
    text-transform:uppercase;
    font-size:27px;
}
.faq2_container h5{
    text-align:center;
    font-family:"Segoe WP";
    color:#6f7277;
    margin:0;
}
.faq_contact_tab{
    margin:25px 0 57px;
}
.faq_contact_tab ul.faqContactTab{
    text-align:center;
    display:block;
    border:0;
}
.faq_contact_tab ul.faqContactTab li{
    display: inline-block;
    float: none;
    margin:0 90px  0 0;
}
.faq_contact_tab ul.faqContactTab li:last-child{
    margin:0;
}
.faq_contact_tab ul.faqContactTab li a{
    width:120px;
    height:120px;
    border-radius:100%;
    padding:0;
    border:0;
    margin:0 0 45px;
    background:url("../images/gold_pattern.png") repeat scroll 0 0 #ffd800;
    color: #FFF;
}
.faq_contact_tab ul.faqContactTab li.active a:after{
    content:'';
    width:100%;
    height:9px;
    display:block;
    background:url("../images/faq-triangle.png") no-repeat scroll center bottom transparent;
    position:absolute;
    bottom:-45px;
    
}
.faq_contact_tab ul.faqContactTab li a i{
    font-size:60px;
    line-height:115px;
}
.faq_contact_tab ul.faqContactTab li.active a{
    background:none #e74440;
    border:0;
    color:#FFF;
}
.faq_contact_tab .tab-content{
}
.faq_contact_tab .tab-content .tab-pane{
    margin:0 auto;
    background:#eeefe8;
    text-align:center;
    width:57%;
    padding:20px;
}
.faq_contact_tab .tab-content .tab-pane.active{
}
.faq_contact_tab .tab-content .tab-pane ul.mails{
    margin:0;
    text-align:center;
}
.faq_contact_tab .tab-content .tab-pane ul.mails li{
    padding:0;
    display: inline-block;
    float: none;
}
.faq_contact_tab .tab-content .tab-pane ul.mails li:after{
    content:'/';
    width:15px;
    display:inline-block;
    text-align:center;
    color:#e74440;
}
.faq_contact_tab .tab-content .tab-pane ul.mails li:last-child:after{
    display:none;
}
.faq_accordion .panel-title a{
    font-family: "Segoe WP";
}

/*Faq Basic*/
.faq_container{margin:0 auto 30px;}
.faq_container .widgets{
    width:350px;
    padding-right:15px;
}
.faq_container .faq_contents{
    width:580px;
    padding-left:15px;
}
.faq_container .faq_contents .contents{
    background:#FFF;
    padding:20px;
}
.faq_container .faq_contents .contents h2{
    font-size:27px;
    text-transform:uppercase;
    color:#232426;
}
.faq_container .faq_contents .contents .collapse_row{
    margin:35px -20px 60px;
}
.faq_container .faq_contact_tab ul.faqContactTab li {
  margin: 0 78px 0 0;
}
.faq_container .faq_contact_tab ul.faqContactTab li:last-child {
  margin:0;
}
.faq_container .faq_contact_tab .tab-content .tab-pane {
  width: 100%;
}
.faq_container .faq_contact_tab{
    padding:48px 0 55px;
    margin:0;
}
.faq_container .faq_contact_tab:after,.faq_container .faq_contact_tab:before{
    background: url("../images/social_icos/searchbtmbg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content:"";
    display: block;
    height:7px;
    position:relative;
    top:-55px;
    width: 100%;
}
.faq_container .faq_contact_tab:after{
    top:auto;
    bottom:-62px;
}
.faq_container .faq_text p{
    margin:30px 0;
}
.faq_container .faq_text p:first-letter{
    font-size:36px;
    text-decoration:underline;
    color:#6f7277;
}
/*Pages Widget*/
.pages_widget{padding:20px;}
.pages_widget h2{
    font-size:27px;
    text-transform:uppercase;
    color:#232426;
    margin:0 0 15px;
}
.pages_widget ul{
    list-style:none;
    padding:0;
    margin:0;
}
.pages_widget ul li{
    
}
.pages_widget ul li a{
    height:30px;
    width:100%;
    display:block;
    color:#372f2b;
}
.pages_widget ul li.active a,.pages_widget ul li a:hover{    
    background: url("../images/social_icos/searchbtmbg.png") repeat-x scroll 0 8px rgba(0, 0, 0, 0);
}
.pages_widget ul li a span{
    padding-right:15px;
    height:100%;
    background:#FFF;
}

/*Home 2*/
/*line 1076 Add this property*/
    #main_nav2.collapse.in ul li, #main_nav2.collapse.in ul li:last-child, #main_nav2.collapse.in ul li.dropdown {
        width: 100%;
    }
    #main_nav2.collapse.in ul li:hover a.dropdown-toggle:before{
        display:none;
    }
    #main_nav2.collapse.in ul li {
      background:#fff;
    }
    #main_nav2.collapse.in ul li a {
      color: #27282b;
    }



/****************** New Blog Css **************/

.row.post_meta>.left a i{
	font-size: 18px;
	padding-right: 5px;
}
.row.post_meta>.right>.ul>li>a>i{
	font-size: 18px;
	padding-right: 5px;
}

.row.hoverarea.gold_bg i{
	font-size:23px;
	color: #fff;
}