<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for [:admin, @admin], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-6">          
          <%= render "admin/form_elements/textfield", :locals=>{:name => "name", :label => "Name", :type => "text", :f => f} %>

          <%= render "admin/form_elements/textfield", :locals=>{:name => "email", :label => "E-mail", :type => "text", :f => f} %>
          
          <%= render "admin/form_elements/file", :locals=>{:name => "image", :label => "Image", :f => f} %>

          <%= render "admin/form_elements/password", :locals=>{:name => "password", :label => "Password", :f => f} %>

          <%= render "admin/form_elements/password", :locals=>{:name => "password_confirmation", :label => "Password Confirmation", :f => f} %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
            </div>
          </div>
          </div><!-- end col -->
        <% end -%>
      </div>
    </div>
  </div>
</div>

<!-- Beautiful fileupload -->
<%= render "plugins/fileupload_script" %>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @admin.errors.to_json %>" data-name="admin" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>


