<div class="row">
  <div class="col-sm-12">
      <div class="card-box table-responsive">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <h4 class="header-title m-t-0 m-b-30">List of admins</h4>
        <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @admins.each do |admin| %>
              <tr>
                <td><%= admin.name %></td>
                <td><%= admin.beautiful_created_at %></td>
                <td><%= admin.beautiful_updated_at %></td>
                <td><%= link_to edit_admin_admin_path(admin) do %><i class="zmdi zmdi-settings"></i><% end %></td>
                <td><%= link_to admin_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="zmdi zmdi-delete"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br />
        <%= link_to 'New Admin', new_admin_admin_path %>
      </div>
  </div>
</div>

<%= render "plugins/table_script" %>