<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @admin.name %>
				</p>
				<%= link_to 'Редактировать', edit_admin_admin_path(@admin) %> |
				<%= link_to 'Назад', admin_admins_path %>
			</div>
		</div>
	</div>
</div>