<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for [:admin, @flashmob], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-12">
            <%= render "admin/form_elements/textfield", :locals=>{:name => "name", :label => "name", :f => f} %>

            <%= render "admin/form_elements/textfield", :locals=>{:name => "location", :label => "location", :f => f} %>

            <%= render "admin/form_elements/textfield", :locals=>{:name => "expires_at", :label => "expires_at", :f => f} %>
            
            <%= render "admin/form_elements/textarea", :locals=>{:name => "short_description", :label => "short_description", :f => f} %>
            
            <%= render "admin/form_elements/textarea", :locals=>{:name => "description", :label => "description", :f => f} %>
            
            <%= render "admin/form_elements/textfield", :locals=>{:name => "reports_count", :label => "reports_count", :f => f} %>
            
            <%= render "admin/form_elements/select", :locals=>{:name => "status", :f => f, :items => Flashmob::STATUS } %>
            
            <%= render "admin/form_elements/select", :locals=>{:name => "gender", :f => f, :items => Flashmob::GENDER, :opts => {:include_blank => true} } %>
            
            <%= render "admin/form_elements/textfield", :locals=>{:name => "start_age", :label => "start_age", :f => f} %>
            
            <%= render "admin/form_elements/textfield", :locals=>{:name => "end_age", :label => "end_age", :f => f} %>
            
            <!-- Galery photos -->
            <div class="row">
              <input type="text" name="flashmob[images]" style="display: none;">
              <div class="portfolioContainer">
                <div class="gallery">
                  <%= f.fields_for :images do |nested| %>
                    <%= render "admin/flashmobs/image_fields", locals: {form: nested} %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="row m-b-20">
              <div class="col-lg-2">
                <div class="cardbox">
                  <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>  
                  <%= link_to_add_fields "Add Image", f, :images %>
                </div>
              </div>
            </div>
          </div><!-- end col -->
        <% end -%>
      </div>
    </div>
  </div>
</div>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @errors.to_json %>" data-name="flashmob" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>
<script src="/assets/js/admin_girls.js"></script>

<!-- Beautiful fileupload -->
<%= render "plugins/fileupload_script" %>


<!-- <script type="text/javascript">
  $('form').submit(function(e) {
    e.preventDefault();
    th = $(this);
    var form = $(th)[0]; // You need to use standart javascript object here
    var formData = new FormData(form);

    $.ajax({
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/admin/flashmobs/majdan/update',
      data: formData,
      processData: false,
      contentType: false,
      success: function(data, textStatus, xhr) {
        
      },
      error: function(data) {
      }
    });
  });
</script> -->

