<% form = locals[:form] %>
<% size = locals[:size] || "col-sm-4" || "col-lg-3 m-b-20" %> 
<div class="<%= size %>">
	<% img = @flashmob.images[form.index.to_i] %>
	<%= form.file_field :image, :class => "dropify", :data => {:default_file => ((img && img.image_url) || "")} %>
	<%= form.hidden_field :image_cache %>
	<%= form.hidden_field :_destroy, :value => "0" %>
</div>