<div class="row">
  <div class="col-sm-12">
      <div class="card-box table-responsive">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <h4 class="header-title m-t-0 m-b-30">List of flashmobs</h4>
        <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              
              <th>Name</th>
              <th>Reports count</th>
              <th>Status</th>
              <th>User</th>
              <th>Gender</th>
              <th>Start age</th>
              <th>End age</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @flashmobs.each do |flashmob| %>
              <tr>
                <td><%= flashmob.name %></td>
                <td><%= flashmob.reports_count %></td>
                <td><%= flashmob.status %></td>
                <td><%= flashmob.user_id %></td>
                <td><%= flashmob.gender %></td>
                <td><%= flashmob.start_age %></td>
                <td><%= flashmob.end_age %></td>
                <td><%= link_to edit_admin_flashmob_path(flashmob) do %><i class="zmdi zmdi-settings"></i><% end %></td>
                <td><%= link_to admin_flashmob_path(flashmob), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="zmdi zmdi-delete"></i><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br />
        <%= link_to 'New Flashmob', new_admin_flashmob_path %>
      </div>
  </div>
</div>

<%= render partial: "plugins/table_script" %>