<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @flashmob.name %>
				</p>				
				<p>
					<strong>Short description:</strong>
				  	<%= @flashmob.short_description %>
				</p>				
				<p>
					<strong>Description:</strong>
				  	<%= @flashmob.description %>
				</p>				
				<p>
					<strong>Reports count:</strong>
				  	<%= @flashmob.reports_count %>
				</p>				
				<p>
					<strong>Status:</strong>
				  	<%= @flashmob.status %>
				</p>				
				<p>
					<strong>User:</strong>
				  	<%= @flashmob.user_id %>
				</p>				
				<p>
					<strong>Gender:</strong>
				  	<%= @flashmob.gender %>
				</p>				
				<p>
					<strong>Start age:</strong>
				  	<%= @flashmob.start_age %>
				</p>				
				<p>
					<strong>End age:</strong>
				  	<%= @flashmob.end_age %>
				</p>
				<%= link_to 'Редактировать', edit_admin_flashmob_path(@flashmob) %> |
				<%= link_to 'Назад', admin_flashmobs_path %>
			</div>
		</div>
	</div>
</div>