/*******************************************************************************
Tamplate Name : Metro Boom
Template Version: 1.0.1
Template Author: Lcesoft
Template Author url: http://lcesoft.com
*******************************************************************************/


/*******************************************************************************
[Tabele Of Contents]
    1. Body
        1. Themes Panel /#themes_panel
        2. Header / #site_header
		3. Social Icon/ #social_nav
		4. Nav Menu /.main_menu
		5. Logo /.logo
		6. Content Section /#main_content_holder
			1. Slider /#rv_slider
			2. Carousel /#multitem_carousal
			3. Story Of The Section /#story_of_day
			4. Service Section /#our_services
			5. Blog Section /#index_blogs
				1. Left Content /.index_blogs
				2. Sidebar section /.single_blog_media
			6. Footer
*******************************************************************************/


/******************************************************************************
# [Color codes]

Background:	#eeefe8
Body font color: #333333
Paragraph Font Color: #6f7277
Footer:		#ffffff
Button Color: #e74440, #000000;
a (standard):	#60636a
a (hover):	#e74440
a (active):	#ffffff

# *****************************************************************************/


/******************************************************************************
[Typography]

Body Font Family: 'Segoe WP';
Body Font Size: 14px;
Line Height: 1.42857;
Post Title Font Family: 'NewsGoth BdXCn BT';
Post Title Font Size: 20px;
Input, textarea: 'Segoe WP';
Input, textarea(Font Color): #5e5951;
Input, textarea(Font Size): 15px;

******************************************************************************/


/*Import CSS*/

@import url("css/bootstrap.min.css");
@import url("css/bootstrap-theme.min.css");
@import url("owl-carousel/owl.carousel.css");
@import url("owl-carousel/owl.theme.css");
@import url("owl-carousel/owl.transitions.css");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("css/fonts.css");
@import url("css/presets.css");
@import url("css/progress.css");
@import url("css/limon.css");
@import url("css/style.css");
@import url("css/custom.css");
@import url("css/responsive.css");
@import url("css/custom-responsive.css");

/*fucking custom styles*/

/* БАТЯ СЕЛ ЗА CSS */
.blog_feature_img_cat .big-image-slider { 
    display: block;
    height: 180px;
    overflow: hidden;
}
.blog_feature_img_cat .big-image-slider .feature_img {
    width: 100%;
    min-height: 100%;
}
.hottest_news .post_meta {
    background-color: #2cca5d; /* Цвет - ужасно не подходит, но увы, у нас нету выбора */
}
.slider_common_p {
    width: 600px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.shadow-for-image-slider {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
#multitem_carousal #second_slider .item {
    width: 353px;
    height: 193px;
    overflow: hidden;
}
#multitem_carousal #second_slider .item img {
    width: 150px;
    min-height: 150px;
}
.my-btn {
    background-color: #e74440;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}
.my-btn:hover {
    background: #da6865;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.user-comment {
    width: 91px;
    height: 91px;
    display: inline-block;
    background-image: url('images/users.png');
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    background-size: 467%;
}
.user-comment-Man {
    background-position: -41px -24px;
}
.user-comment-Woman {
    background-position: -41px -152px;
}
.for-example {
    margin: 0 0 0 2px;
    font-size: 12px;
    color: #747774;
}
.reg-members input[type="text"] {
    margin-bottom: 0;
}
.reg-members .error {
    margin: 0;
}
.left-comment {
    padding-right: 10px;
}
.right-comment {
    padding-left: 10px;
}
.comment-button {
    margin-top: 10px;
    background-color: #ad4242;
}
.comment-button:hover{
    background-color: #e24747;
}
.current-comment {
    margin-bottom: 15px;
}
.current-comment .media-body {
    margin-left: 105px;
    padding-top: 10px;
}
.col-sm-4 .dropify-wrapper {
    height: 150px;
}
/* Form validation */
.parsley-error {
  border-color: #ff5b5b !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ff5b5b;
}
.flashmob-input {
    margin-bottom: 0 !important;
}
.new-flashmob .form-horizontal .has-feedback .form-control-feedback {
    right: 0;
}
.new-flashmob .parsley-required:first-letter {
    text-transform: capitalize;
}
/* АВТОРСКАЯ КНОПКА!!! ДИЗАЙН НЕ ВОРОВАТЬ!!! */
.new_flashmob {
    background-color: #e43333;
    position: relative !important;
    border-radius: 0;
    box-shadow: 1px 2px 1px #6f6767;
    border: 5px inset transparent;
    height: 36px;
    line-height: 15px;
    transition: 0.1s all ease-in-out;
}
.new_flashmob:hover {
    background-color: #fb3939;
    box-shadow: inherit;
    color: white;
    border: 5px inset #e84343;
}
/* БАТЯ УШЕЛ, СЕЛ ШКОЛЬНИК */

.navbar-top {
    background-color: #28282b;
}

.navbar .navbar-top {
    height: 30px;
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    text-transform: uppercase;
}

.navbar.stuck .navbar-top {
    margin-top: -30px;
}

@media (max-width: 1024px) {
    .navbar.stuck .navbar-top {
        margin-top: 0 !important;
    }
    .banner {
        margin-top: 70px !important;
    }
    .header-version-2 .banner {
        margin-top: 130px !important;
    }
    .social li {
        margin: 0 6px 0 0;
    }
    .cartMenu.static-search-box a.dropdown-toggle {
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-box.static-search .form-control {
        max-width: 104px
    }
}

.userMenu > li {
    display: block;
    float: left;
}

.userMenu > li > a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px 0 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.21s ease-out 0s;
    -moz-transition: opacity 0.2s ease-out 0s;
    -ms-transition: opacity 0.2s ease-out 0s;
    -o-transition: opacity 0.2s ease-out 0s;
}

.phone-number span {
    float: left;
}

.userMenu > li {
    display: block;
    float: left;
}

.userMenu > li > a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: opacity 0.21s ease-out 0s;
    -moz-transition: opacity 0.2s ease-out 0s;
    -ms-transition: opacity 0.2s ease-out 0s;
    -o-transition: opacity 0.2s ease-out 0s;
}

.userMenu > li > a:hover {
    color: red;
}

.phone-number span {
    float: left;
}

.hasUserMenu > .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    left: auto !important;
    right: 0!important;
}

.hasUserMenu > .dropdown-menu > li > a {
    color: #454545;
    font-size: 12px;
    padding: 5px 15px;
}

.hasUserMenu > .dropdown-menu > li > a i {
    margin-right: 10px;
}

.modal {
    overflow: auto;
}

.signUpContent .modal-dialog {
    max-width: 460px;
}

.modal-dialog.modal-xs {
    max-width: 460px;
}

#product-details-modal .modal-dialog {
    background: #fff;
    max-width: 960px;
    overflow: auto;
    width: 100%;
}

.modal-dialog .product-share {
    border-top: 0 none;
    margin-top: 0;
}

.modal-dialog .modal-product-thumb {
    padding-top: 15px;
}

.modal-dialog {
    background: #fff;
    max-width: 960px;
    overflow: auto;
    width: 100%;
}

.modal-header {
    border-bottom: 1px solid #dc8583;
    background-color: #e74440;
    color: #FFFFFF;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.modal-title-site {
    color: #ffffff;
    font-family: fantasy;
    font-size: 38px;
    font-weight: lighter;
    padding: 13px 0;
    text-transform: uppercase;
}

.modal-content {
    border: 0 solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.modal-footer {
    background: #eee;
    border-top: 1px solid #E5E5E5;
    padding: 10px 20px;
    margin-top: 35px;
}

.form-control:focus {
    box-shadow: NONE;
    outline: 0 none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-color: #DDDDDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    font-size: 14px;
    margin-bottom: 10px;
    height: 36px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.login-reg-button {
    background-image: none;
    border-bottom-color: rgb(231, 68, 64) border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(231, 68, 64) border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(231, 68, 64) border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(231, 68, 64) border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px -1px 0px 0px inset;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    height: 43px;
    letter-spacing: normal;
    line-height: 23.536px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    text-size-adjust: 100%;
    text-transform: none;
    touch-action: manipulation;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: linear;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 430px;
    word-spacing: 0px;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
    transition: all 0.25s linear 0s;
    background-color: #e74440;
    border-color: #e74440;
    color: #ffffff;
    align-items: flex-start;
}

.login-reg-button:hover {
    background: #da6865;
    color: white;
}

.navbar {
    min-height: 100px;
}

#main_navigation {
    height: 120px;
}

#main_navigation > div > div.row > div.col-lg-6.col-sm-6.col-xs-6.col-md-6.no-margin.no-padding > div > ul > li > a > span {
    cursor: pointer;
}


.single.single-blog .page_header{
	background: url("https://unsplash.it/1351/245?image=65") no-repeat scroll center 0 / 100% 100% rgba(0, 0, 0, 0);
}

.page-template.blog .page_header{
	background: url("https://unsplash.it/1351/245?image=65") no-repeat scroll center 0 / 100% 100% rgba(0, 0, 0, 0);	
}

.error-border {
    border: 1px solid red;
}

.error {
    color: #e74440;
    padding-left: 2px;
    font-size: 12px;
}

.error:first-letter {
    text-transform: capitalize;
}

#ModalSignup input {
    margin-bottom: 0px;
}