<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%%= form_for [:admin, @<%= singular_table_name %>], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-12">
          <% attributes.each do |attribute| -%><% if attribute.field_type.to_s.include?("text_area") %>
          <%%= render "admin/form_elements/textarea", :locals=>{:name => "<%= attribute.column_name %>", :label => "<%= attribute.column_name %>", :f => f} %><% elsif attribute.column_name =~ /(image|avatar|photo|picture)/ %>
          <%%= render "admin/form_elements/file", :locals=>{:name => "<%= attribute.column_name %>", :label => "<%= attribute.column_name %>", :f => f} %><% else %>
          <%%= render "admin/form_elements/textfield", :locals=>{:name => "<%= attribute.column_name %>", :label => "<%= attribute.column_name %>", :f => f} %><% end %>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
            </div>
          </div>
          </div><!-- end col -->
        <%% end -%>
      </div>
    </div>
  </div>
</div>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%%= @errors.to_json %>" data-name="<%= singular_table_name %>" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>