<h1>Edit <%= singular_table_name.titleize %></h1>

<%%= render 'form' %>

<div class="card-box">
	<%%= link_to 'Show', admin_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
	<%%= link_to 'Back', admin_<%= plural_table_name %>_path %>
</div>
