<div class="row">
  <div class="col-sm-12">
      <div class="card-box table-responsive">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
              <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <h4 class="header-title m-t-0 m-b-30">List of <%= plural_table_name %></h4>
        <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              <% attributes.reject(&:password_digest?).each do |attribute| %>
              <th><%= attribute.human_name %></th><% end %>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr><% attributes.reject(&:password_digest?).each do |attribute| %>
                <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td><% end %>
                <td><%%= link_to edit_admin_<%= singular_table_name %>_path(<%= singular_table_name %>) do %><i class="zmdi zmdi-settings"></i><%% end %></td>
                <td><%%= link_to admin_<%= singular_table_name %>_path(<%= singular_table_name %>), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="zmdi zmdi-delete"></i><%% end %></td>
              </tr>
            <%% end %>
          </tbody>
        </table>

        <br />
        <%%= link_to 'New <%= human_name %>', new_admin_<%= singular_table_name %>_path %>
      </div>
  </div>
</div>

<%%= render partial: "plugins/table_script" %>