<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%%= notice %></p><% attributes.reject(&:password_digest?).each do |attribute| -%>
				
				<p>
					<strong><%= attribute.human_name %>:</strong><% if attribute.human_name =~ /(image|avatar|photo|picture)/ %>
				  	<img src="<%%= @<%= singular_table_name %>.<%= attribute.name %>_url %>"><% else %>
				  	<%%= @<%= singular_table_name %>.<%= attribute.name %> %><% end %>
				</p><% end -%>

				<%%= link_to 'Редактировать', edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
				<%%= link_to 'Назад', admin_<%= plural_table_name %>_path %>
			</div>
		</div>
	</div>
</div>