<% name, f = locals[:name], locals[:f] %>
<div class="form-group <% if @errors and !@errors[name].empty? %>has-error has-feedback<% end %>">
	<%= f.label name, :class => "col-sm-2 control-label" %>
	<div class="col-sm-9 change-checkbox">
		<%= f.check_box name, {"data-plugin" => "switchery", "data-color" => "#00b19d"}, "1", "0" %>
	</div>
</div>
