<% name, f = locals[:name], locals[:f] %> <!-- f - object form -->
<div class="form-group">
	<%= f.label name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-9">
    	<% data = file_field_with_default(@obj, name.to_sym) %> <!-- Helper method located in ApplicationHelper -->
		<%= f.file_field :image, :class => "dropify", :data => data %>
		<%= f.hidden_field :image_cache %>
		<%= f.hidden_field :_dropify_delete, :value => false %> <!-- Should be always last -->
     </div>
</div>