<% name, f = locals[:name], locals[:f] %>
<div class="form-group">
	<%= f.label name, :class => "col-sm-2 control-label" %>
	<div class="col-sm-9">
		<%= f.password_field name, :class => "form-control inputmask" %>
	</div>
</div>