<% name, f, items, opts = locals[:name], locals[:f], locals[:items], locals[:opts] || {} %> <!-- f - object form -->
<div class="form-group">
	<%= f.label name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-9">
    	<%= f.select name, items, opts, {:class => "form-control select2"} %>
    </div>
</div>