<% name, f = locals[:name], locals[:f] %>
<% id ||= "elm1" %>
<div class="form-group">
	<%= f.label name.to_sym, :class => "col-sm-2 control-label" %>
	<div class="col-sm-9">
		<%= f.text_area name.to_sym, :class => "form-control inputmask", :id => id %>
	</div>
</div>
