<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for [:admin, @user], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-12">
          
          <%= render "admin/form_elements/textfield", :locals=>{:name => "name", :label => "name", :f => f} %>
          
          <%= render "admin/form_elements/textfield", :locals=>{:name => "phone", :label => "phone", :f => f} %>
          
          <%= render "admin/form_elements/textfield", :locals=>{:name => "rank", :label => "rank", :f => f} %>
          
          <%= render "admin/form_elements/file", :locals=>{:name => "image", :label => "image", :f => f} %>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
            </div>
          </div>
          </div><!-- end col -->
        <% end -%>
      </div>
    </div>
  </div>
</div>


<!-- Beautiful fileupload -->
<%= render "plugins/fileupload_script" %>

<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @errors.to_json %>" data-name="user" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>