<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @user.name %>
				</p>				
				<p>
					<strong>Phone:</strong>
				  	<%= @user.phone %>
				</p>				
				<p>
					<strong>Rank:</strong>
				  	<%= @user.rank %>
				</p>				
				<p>
					<strong>Image:</strong>
				  	<%= @user.image %>
				</p>
				<%= link_to 'Редактировать', edit_admin_user_path(@user) %> |
				<%= link_to 'Назад', admin_users_path %>
			</div>
		</div>
	</div>
</div>