<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <%= form_for [:admin, @textdesc], :html=>{:class=>"form-horizontal"} do |f| %>
          <div class="col-lg-9">
          
          <%= render "admin/form_elements/textfield", :locals => {:name => "name", :label => "name", :f => f} %>
          
          <%= render "admin/form_elements/textfield", :locals => {:name => "classname", :label => "classname", :f => f} %>
          
          <%= render "admin/form_elements/textarea", :locals => {:name => "description", :label => "description", :f => f} %>

          <%= render "admin/form_elements/checkbox", :locals => {:name => "strip_tags", :label => "strip_tags", :f => f} %>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light btn-md">Submit</button>
            </div>
          </div>
          </div><!-- end col -->
        <% end -%>
      </div>
    </div>
  </div>
</div>


<!-- Setting errors -->
<div class="page-errors" data-errors="<%= @errors.to_json %>" data-name="textdesc" style="display:none;"></div>
<script src="/assets/js/beautiful_errors.js"></script>

<!-- Textare script and settings -->
<%= render "plugins/tinymce_script" %>

