<div class="row">
    <div class="col-sm-8">
        <div class="bg-picture card-box">
            <div class="profile-info-name">
				<p id="notice"><%= notice %></p>				
				<p>
					<strong>Name:</strong>
				  	<%= @textdesc.name %>
				</p>				
				<p>
					<strong>Classname:</strong>
				  	<%= @textdesc.classname %>
				</p>				
				<p>
					<strong>Description:</strong>
				  	<%= @textdesc.description %>
				</p>
				<%= link_to 'Редактировать', edit_admin_textdesc_path(@textdesc) %> |
				<%= link_to 'Назад', admin_textdescs_path %>
			</div>
		</div>
	</div>
</div>