<div class="recent_coments_ppNews_Tab row widget">
    <ul class="nav nav-tabs" id="tabbed_widget">
        <li class="active"><a href="#comments" data-toggle="tab">comments</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="comments">
            <ul class="media-list recent_comments">
        		<% @comments.each do |f| %>
        			<% member = f.member %>
        			<% flashmob = f.flashmob %>
                    <li class="media">                                            
                        <div class="row"><%= member.name %> on:</div>
                        <h4><a href="/flashmob/<%= flashmob.slug %>#comment-<%= f.id %>"><%= f.text %></a></h4>
                        <div class="row">in <a href="/flashmob/<%= flashmob.slug %>"><%= flashmob.name %></a> / added on <span class="date"> <%= f.beautiful_created_at %> </span></div>
                    </li>			                            
            	<% end %>
            </ul>
        </div>
    </div>
</div>