<section id="page_template">
    <div class="row page_content">
        <div class="container">            
            <div class="row blogs_and_widgets">
                <div class="col-xs-12 col-sm-8 blogs">
                	<% @flashmobs.each do |f| %>
	                    <div class="row single_blog_summery blog_style_gallery post_type_photography">
	                        <div class="row blog_feature_img_cat">
	                        	<% images = f.images %>
	                            <a href="#" class="big-image-slider"><img src="<%= images.first.image_url %>" alt="" class="row feature_img"></a>
	                            <div id="blog_gallery" class="carousel slide" data-ride="carousel">
	                              <!-- Indicators -->
	                              	<ol class="carousel-indicators">
		                              	<% images.each_with_index do |f, i| %>
			                                <li data-target="#blog_gallery" data-slide-to="<%= i %>" <% if i == 0 %> class="active"<% end %>>
			                                    <img src="<%= f.image_url %>" alt="">
			                                </li>
			                            <% end %>
	                              	</ol>

	                              <!-- Wrapper for slides -->
	                              <div class="carousel-inner">
	                                <div class="item active"></div>
	                                <div class="item"></div>
	                                <div class="item"></div>
	                                <div class="item"></div>
	                              </div>

	                              <!-- Controls -->
	                              <a class="left carousel-control" href="#blog_gallery" data-slide="prev">
	                                <span class="glyphicon glyphicon-chevron-left"></span>
	                              </a>
	                              <a class="right carousel-control" href="#blog_gallery" data-slide="next">
	                                <span class="glyphicon glyphicon-chevron-right"></span>
	                              </a>
	                            </div>
	                            <div class="row post_category_post_icon">
	                                <ul class="list-inline">
	                                    <li>
	                                        <a href="#"><img alt="" src="/public/images/news/meta/book.png"></a>
	                                        <ul>
	                                            <li><a href="#">Flashmob</a></li>
	                                        </ul>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="row post_title">
	                                <a href="single.html"><h3><%= f.name %></h3></a>
	                            </div>
	                        </div>
	                        <div class="row post_desc">                                    
	                            <div class="row post_summery"><%= f.short_description %></div>                                    
	                        </div>
	                    </div>
	                <% end %>
                </div>

            	<% if @popular_flashmob %> 
	                <div class="col-xs-12 col-sm-4 widgets">
	                    <div class="row widget hottest_news_widget">
	                        <div class="row widget_heading">hottest news</div>                                
	                        <div class="row hottest_news">
	                            <a href=""><img src="<%= @popular_flashmob.images.first.image_url %>" alt="" class="hottest_news_img row"></a>
	                            <div class="row post_meta">
	                                <div class="left likes">
	                                    <i class="fa fa-child"></i> <%= @popular_flashmob.members.count %>
	                                </div>
	                                <div class="left comments">
	                                    <i class="fa fa-comments"></i> <%= @popular_flashmob.comments.count %>
	                                </div>
	                            </div>
	                            <a href="" class="row post_title"><h4>Chocolate bar gingerbread cotton candy powder sweet bonbon</h4></a>
	                        </div>
	                    </div>
	                    <div class="recent_coments_ppNews_Tab row widget">
	                        <ul class="nav nav-tabs" id="tabbed_widget">
	                            <li class="active"><a href="#comments" data-toggle="tab">comments</a></li>
	                        </ul>
	                        <div class="tab-content">
	                            <div class="tab-pane active" id="comments">
		                            <ul class="media-list recent_comments">
	                            		<% @comments.each do |f| %>
	                            			<% member = f.member %>
	                            			<% flashmob = f.flashmob %>
			                                <li class="media">                                            
			                                    <div class="row"><%= member.name %> on:</div>
			                                    <h4><a href="#"><%= f.text %></a></h4>
			                                    <div class="row">in <a href="/flashmob/<%= flashmob.slug %>"><%= flashmob.name %></a> / added on <span class="date"> <%= f.beautiful_created_at %> </span></div>
			                                </li>			                            
			                        	<% end %>
			                        </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            <% end %>
            </div>
        </div>
    </div>
</section>