<section id="page_template">
    <div class="row page_content">
        <div class="container">     
            <div class="row blogs_and_widgets">
                <div class="col-xs-12 col-sm-8 blogs">
                	<% @flashmobs.each do |f| %>
	                    <div class="row single_blog_summery blog_style_gallery post_type_photography" id='flashmob-<%= f.id %>'>
	                        <div class="row blog_feature_img_cat">
	                        	<% images = f.images %>
	                            <a href="/flashmob/<%= @popular_flashmob.slug %>" class="big-image-slider"><img src="<%= images.first.image_url %>" alt="" class="row feature_img"></a>
	                            <div id="blog_gallery" class="carousel slide" data-ride="carousel">
	                              <!-- Indicators -->
	                              	<ol class="carousel-indicators">
		                              	<% images.each_with_index do |f, i| %>
			                                <li data-target="#blog_gallery" data-slide-to="<%= i %>" <% if i == 0 %> class="active"<% end %>>
			                                    <img src="<%= f.image_url %>" alt="">
			                                </li>
			                            <% end %>
	                              	</ol>

	                              <!-- Wrapper for slides -->
	                              <div class="carousel-inner">
	                                <div class="item active"></div>
	                                <div class="item"></div>
	                                <div class="item"></div>
	                                <div class="item"></div>
	                              </div>

	                              <!-- Controls -->
	                              <a class="left carousel-control" href="#blog_gallery" data-slide="prev">
	                                <span class="glyphicon glyphicon-chevron-left"></span>
	                              </a>
	                              <a class="right carousel-control" href="#blog_gallery" data-slide="next">
	                                <span class="glyphicon glyphicon-chevron-right"></span>
	                              </a>
	                            </div>
	                            <div class="row post_category_post_icon">
	                                <ul class="list-inline">
	                                    <li>
	                                        <a href="#"><img alt="" src="/public/images/news/meta/book.png"></a>
	                                        <ul>
	                                            <li><a href="#">Flashmob</a></li>
	                                        </ul>
	                                    </li>
	                                </ul>
	                            </div>
	                            <div class="row post_title">
	                                <a href="/flashmob/<%= @popular_flashmob.slug %>"><h3><%= f.name %></h3></a>
	                            </div>
	                        </div>
	                        <div class="row post_desc">                                    
	                            <div class="row post_summery"><%= f.short_description %></div>                                    
	                        </div>
                        	<div class="row" style="margin: 10px;">
	                        	<a href="/flashmob/<%= f.slug %>/edit" class='m-r-10'><i class="fa fa-pencil" aria-hidden="true"></i> Edit flashmob</a>
	                        	<a href="/flashmobs/<%= f.slug %>" data-method='delete' class='m-r-10'><i class="fa fa-times" aria-hidden="true"></i> Delete flashmob</a>
	                        	<% if f.approved? %>
	                        		<a href="/flashmob/<%= f.slug %>/members" class='m-r-10'>
	                        			<i class="fa fa-child" aria-hidden="true"></i> Members
	                        		</a>
	                        	<% end %>
	                        	<span class='m-r-10'>Status: <%= f.status %></span>
	                        </div>
	                    </div>
	                <% end %>
                </div>

                <div class="col-xs-12 col-sm-4 widgets">
					<div class="row widget hottest_news_widget" style="margin-bottom: 10px;">
				        <div class="row"><a class="btn btn-block new_flashmob" href="/flashmob/new">New flashmob</a></div>
					</div>
		        	<% if @popular_flashmob %> 
		                <div class="row widget hottest_news_widget">
		                    <div class="row widget_heading">hottest news</div>                                
		                    <div class="row hottest_news">
		                        <a href="/flashmob/<%= @popular_flashmob.slug %>"><img src="<%= @popular_flashmob.images.first.image_url %>" alt="" class="hottest_news_img row"></a>
		                        <div class="row post_meta">
		                            <div class="left likes">
		                                <i class="fa fa-child"></i> <%= @popular_flashmob.members.count %>
		                            </div>
		                            <div class="left comments">
		                                <i class="fa fa-comments"></i> <%= @popular_flashmob.comments.count %>
		                            </div>
		                        </div>
		                        <a href="/flashmob/<%= @popular_flashmob.slug %>" class="row post_title"><h4>Chocolate bar gingerbread cotton candy powder sweet bonbon</h4></a>
		                    </div>
		                </div>
	           		<% end %>
                    <%= render "last_comments" %>
                </div>
            </div>
        </div>
    </div>
</section>