section#main_content_holder{
    width: 1230px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    overflow-x: hidden !important;
    box-shadow:  0px 0px 3px rgba(0, 0, 0, .5);
    
}

header{
        max-width: 1230px !important;
        width: 100%;
    }
header#site_header{
   max-width: 1230px !important;
   width: 100%;
   margin: 0 auto;
}
header#header2{
   max-width: 1230px !important;
   width: 100%;
   margin: 0 auto;
} 
#main_navigation, #main_navigation2{
    max-width: 1230px !important;
    width: 100%;
    margin: 0 auto;
}