/* Color Code : #e74440 */

/** Logo **/
#main_navigation .navbar-header .logo h1 span {color: #e74440;}
#main_navigation #main_nav ul.navbar-nav li a:hover, #main_navigation #main_nav ul.navbar-nav li.active a {border-top: 5px solid #e74440;}
#main_navigation #main_nav ul.navbar-nav li ul li.active a, #main_navigation #main_nav ul.navbar-nav li ul li a:hover, #main_navigation #main_nav ul.navbar-nav li ul li a:focus {border-left: 5px solid #e74440;}

/** Menu **/
header #social_nav ul {background: #e74440;}
header #social_nav ul li a {color: #e74440;}
header #social_nav ul li {border-right: 1px solid #e74440;}
#main_nav2 ul li.dropdown > ul li:hover {border-color: #e74440;}
#main_navigation2:after {background: url("../../images/afterNav1.png") repeat-x scroll -50px bottom;}

/** Search **/
header #social_nav ul li form .input-group {background: url("../../images/search_bg1.png") no-repeat scroll 0 0;}

/** Slider **/
.slider_common_p {border-left: 4px solid #e74440;}
#rv_slider .tp-bullets.tp-thumbs .bullet img {border: 3px solid #e74440;}
#rv_slider .tp-leftarrow.default i, #rv_slider .tp-rightarrow.default i {color: #e74440;}

/** Carousel **/
#multitem_carousal h2 {color: #e74440;}
#multitem_carousal #second_slider .item:hover img {border: 5px solid #e74440;}

/** Story of the in homepage **/
.post_category_post_icon ul>li>a {background: #e74440;}
#story_of_day .top_stories .col-sm-5:first-child .post_desc {border-top: 5px solid #e74440;}
#story_of_day .top_stories .col-sm-3 .post_title {border-left: 4px solid #e74440;}
#story_of_day .top_featured_story .blog_feature_img_cat .post_title {border-left: 4px solid #e74440;}
#our_services .container .service_container {background: url("../images/red_pattern.png") repeat scroll 0 0 #e74440;}
#download_text h1 span {color: #e74440;}
#download_text a {background: none repeat scroll 0 0 #e74440;}
.post_date_post_icon ul>li>a {background: #e74440;}
.post_category_post_icon ul>li>a {background: #e74440;}
#index_blogs .more_story_link {background: #e74440;}
#index_blogs .top_blog_desc_part {border-left: 4px solid #e74440;}
#index_blogs .top_blog_desc_part ul li a:hover {background: #e74440;}
#index_blogs .index_widget .widget_heading {border-left: 4px solid #e74440;}
#index_blogs .index_widget .index_hottest_news_widget .media-list .media .likes i {color: #e74440;}
#index_blogs .index_widget .widget_heading {border-left: 4px solid #e74440;}

/** Home Two **/
#nr_services .img-circle i {color: #e74440;}
#our_app_container a i {color: #e74440;}
#our_app_container a {background: url("../../images/download_btn1.png") no-repeat scroll center center;}

/** About US page **/
.breadcumb_row ol li a {color: #e74440;}

/** Price Page **/
.pricing_plans .plan_col:nth-child(2) .plan_details .price .circle {border: 4px solid rgba(231,68,64,.68);}
.pricing_plans .plan_col:nth-child(2) .get_plan a {background: #ed744f;}
.pricing_plans .plan_col:nth-child(2) .get_plan a:hover {color: #ed744f;}

/** FAQ PAGE **/
.widget .widget_heading {border-bottom: 4px solid #e74440;}
.hottest_news .post_meta i {color: #e74440;}
.faq_contact_tab ul.faqContactTab li.active a {background: none #e74440;}
.faq_contact_tab .tab-content .tab-pane ul.mails li:after {color: #e74440;}

/** Blog **/
.blog .featured_blog .blog_title {border-left: 4px solid #e74440;}
.blog .featured_blog .feature_img_title {border-bottom: 5px solid #e74440;}
.post_meta_summery>.row.post_meta>.date.left a i {color: #E74440;}
.single_blog_summery #blog_gallery {border-top: 5px solid #e74440;}
.single_blog_summery.blog_style_3 .post_meta {border-top: 5px solid #e74440;}
.recent_coments_ppNews_Tab ul#tabbed_widget li.active a {background: #c33835;}
.subscribe_widget .count_row ul li a {background: none repeat scroll 0 0 #e74440;}
.post_meta_summery>.row.post_meta>.like.left a i,
.post_meta_summery>.row.post_meta>.comment.left a i {color: #E74440;}
.single_blog_summery #blog_gallery .carousel-indicators li.active:after {border-top: 10px solid #e74440;}
body.single .single_item .post_summery a {color: #e74440;}
body.single #coment_tab li.active a {background: #e74440;}
.form_row form .form-control.required {border-left: 4px solid #e74440;}
.form_row form input[type="submit"] {background: #e74440;}
.form_row form input[type="checkbox"]+label:before {background: #e74440;}
.insta_grids .inst-image .inst-hover {border-bottom: 4px solid #e74440;}

/** Portfolio **/
.portfolios ul#protfolio_tab li.active, .portfolios ul#protfolio_tab li:hover {background: #e74440;}
.portfolios .load_more_btn a {background: #e74440;}
.portfolioModal a {color: #e74440;}

/** Contact **/
.contact_tabs .nav-tabs>li.active>a, .contact_tabs .nav-tabs>li.active>a:hover, .contact_tabs .nav-tabs>li.active>a:focus {
background: #e74440;}
.contact_tabs ul li.active a, .contact_tabs ul li a:hover {background: #e74440;}
.contact_tabs #mail_form form .form-control.required {border-left: 4px solid #e74440;}
.contact_tabs #mail_form form input[type="submit"] {background: #e74440;}
.contact_tabs #mail_form form input[type="checkbox"]+label:before {background: #e74440;}

/** Footer menu **/
#foot_navigation #foot_nav .active a, #foot_navigation #foot_nav li a:hover, #foot_navigation #foot_nav li a:focus {border-bottom: 5px solid #e74440;}
 
#foot_copy {border-top: 5px solid #e74440;}
#foot_copy ul li a {background: none repeat scroll 0 0 #e74440;}

/************ Back To Top ************/
#back_to_top {
    color: #e74440;
}