<!DOCTYPE html>
<html>
<head>
  <title>Administrator panel</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />

  <script src="/assets/js/modernizr.min.js"></script>
</head>
<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">

    	<!-- Top Bar Start -->
        <%= render "admin/pages/topbar" %>
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        <%= render "admin/pages/menu" %>

		<div class="content-page">
        <!-- Start content -->
            <div class="content">
                <div class="container">
    				<%= yield %>
    			</div>
    		</div>
    	</div>

        <footer class="footer">
            2016 © Kyrsach
        </footer>
	 </div>

    <script>
        var resizefunc = [];
    </script>

    <script src="/assets/js/admin.js"></script>

    <!-- jQuery  -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/detect.js"></script>
    <script src="/assets/js/fastclick.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/jquery.blockUI.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>
</body>
</html>
