<!DOCTYPE html>
<html>
<head>
  	<title>FlashMobs</title>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link href="/public/style.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/captions-original.css" rel="stylesheet">
    <link href="/public/css/settings.css" rel="stylesheet">
    <link href="/public/css/limon.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/preset/preset1.css" id="presetcss" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" id="layout_css" href="/public/css/preset/width.css" />
    <%= yield(:preload) %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/public/js/html5shiv.js"></script>
        <script src="/public/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="<%= @body_class %>">
	<div class="info-from-controller" style="display:none;" data-info="<%= @info %>"></div>
<!-- ++++++++++++++++++++++++++++++++THE SAME ON ALL PAGES ++++++++++++++++++++++++++++++++ -->
    <!-- Modal Signup start -->
    <%= render "index/registration_popup" %>

    <!-- Modal Login start -->
    <%= render "index/login_popup" %>

    <!-- Modal Edit account -->
    <%= render "index/edit_popup" %>

    <!-- Header -->
    <%= render "index/header" %>
<!-- ++++++++++++++++++++++++++++++++ END THE SAME ON ALL PAGES ++++++++++++++++++++++++++++++++ -->
	<section id="main_content_holder">
		<%= yield %>
<!-- ++++++++++++++++++++++++++++++++ THE SAME ON ALL PAGES ++++++++++++++++++++++++++++++++ -->
		<%= render "index/footer" %>
<!-- ++++++++++++++++++++++++++++++++ THE SAME ON ALL PAGES ++++++++++++++++++++++++++++++++ -->
    </section>
    
    <script src="/public/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/public/owl-carousel/owl.carousel.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/public/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" async src="https://assets.pinterest.com/js/pinit.js"></script>
    <script src="/public/js/mixitup.js"></script>
    <script src="/public/js/gmaps.js"></script>
    <script src="/public/js/preset.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/preload.js"></script>
</body>
</html>
