<!DOCTYPE html>
<html>
    <head>
        <title>Administrator panel</title>
        <%= stylesheet_link_tag "base" %>
        <%= javascript_include_tag "base" %>
        <%= csrf_meta_tags %>

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="/assetshttps://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="/assetshttps://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="/assets/js/modernizr.min.js"></script>
    </head>
    <body>
        <div class="account-pages"></div>
        <div class="clearfix"></div>

        <%= yield %>
        
    	<script>
            var resizefunc = [];
        </script>
	
	</body>
</html>